<a href="https://colab.research.google.com/github/johndelorosco/CPEN-21A-PLD-1-2/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Indentation

In [14]:
if 5>3:
  print("5 is greater than 3")

5 is greater than 3

Variable Declaration

In [36]:
#variable with single value

x=5
y=3
if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")


#variable with multiple values

a,b = 1,2
print("The value of a is",a)
print("The value of a is",b)

#multiple variables with single value

p = q = r = 'Johndel'
print(p)
print(q)
print(r)

x is greater than y
The value of a is 1
The value of a is 2
Johndel
Johndel
Johndel

Output Variable

In [40]:
o = 'is enjoying'
print('Python programming'+ " " + o)

Python programming is enjoying

#Casting and Type() Function

In [25]:
f = int(4)   #integer
g = float(4) #decimal

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double quote or single quoute

In [28]:
name = "Johndel"
name1 = 'Johndel'

print(name)
print(name1)

Johndel
Johndel

Case Sensitive

In [34]:
a = 'Ana'
print(a)

Ana